{% for field in form %}
    <div class="row mb-5 align-items-start">
        <label for="{{ field.id_for_label }}" class="col-md-2 col-xl-3 col-form-label">{{ field.label }}</label>

        <div class="col-md-7 col-xl-4">

            {{ field }}

            {% if field.errors %}
                {% for error in field.errors %}
                <div id="{{ field.html_name }}_error" class="invalid-feedback">
                    {{ error|escape }}
                </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if field.field.required or field.help_text %}
        <div class="col-md-3 col-xl-4">
            <div class="form-text">
                {% if field.field.required %}
                <span id="{{ field.html_name }}_required" class="d-block text-muted">* Campo obrigatório</span>
                {% endif %}
                {% if field.help_text %}
                <span id="{{ field.html_name }}_help" class="d-block">{{ field.help_text|safe }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endfor %}