{% extends '_base.html' %}

{% block title %}Detalhes da vaga - {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="antonio-regular my-4">Detalhes da vaga</h2>

        <div class="card bg-light">
            <div class=card-body>
                <h3 class="card-title text-center antonio-bold">{{ vaga.empresa_nome }}</h3>
                <h4 class="card-subtitle text-muted glacial-bold text-center">{{ vaga.cargo_titulo }}</h4>

                {% if vaga.cargo_descricao %}
                <p class=card-text>{{ vaga.cargo_descricao | linebreaks }}</p>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush text-center">
                {% if vaga.empresa_endereco %}
                 <li class="list-group-item">{{ vaga.empresa_endereco }}</li>
                 {% endif %}

                 {% if vaga.empresa_email %}
                 <li class="list-group-item">{{ vaga.empresa_email | urlize }}</li>
                 {% endif %}

                 <li class="list-group-item">{{ vaga.empresa_site | urlize }}</li>

                 {% if vaga.empresa_telefone_celular %}
                 <li class="list-group-item">Tel. celular: {{ vaga.empresa_telefone_celular }}</li>
                 {% endif %}

                 {% if vaga.empresa_telefone_comercial %}
                 <li class="list-group-item">Tel. comercial: {{ vaga.empresa_telefone_comercial }}</li>
                 {% endif %}

                 <li class="list-group-item">Referência: {{ vaga.site_referencia | urlize }}</li>
                 <li class="list-group-item">Situação: {{ vaga.get_situacao_display }}</li>
                 
                 {% if vaga.data_hora_entrevista %}
                <li class="list-group-item">Entrevista em {{ vaga.data_hora_entrevista | date:"d/m/Y H:i"}}</li>
                {% endif %}

                <li class="list-group-item">
                    <a class="btn btn-primary btn-lg mx-4 my-3" href="{% url 'oportunidades_edit' vaga.pk %}">Atualizar</a>
                    <a class="btn btn-danger btn-lg mx-4 my-3" href="{% url 'oportunidades_delete' vaga.pk %}">Excluir</a>
                </li>
            </ul>
            <div class="card-footer glacial-bold text-muted">
                <small class=d-block>Cadastrada em: {{ vaga.data_hora_cadastro | date:"d/m/Y H:i" }}</small>
                <small class=d-block>Última atualização em: {{ vaga.data_hora_atualizacao | date:"d/m/Y H:i" }}</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}