{% extends '_base.html' %}

{% block title %}Remover vaga - {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        {% load vagas_template_extras %}

        <h1>Tem certeza que deseja excluir este cadastro?</h1>

        {{ vaga.empresa_nome }}

        {{ vaga.empresa_endereco }}

        {{ vaga.empresa_email | urlize }}

        {{ vaga.empresa_site | urlize }}

        {{ vaga.empresa_telefone_celular | phone_formatter }}

        {{ vaga.empresa_telefone_comercial | phone_formatter }}

        {{ vaga.cargo_titulo }}

        {{ vaga.cargo_descricao }}

        {{ vaga.site_referencia | urlize}}

        {{ vaga.data_hora_entrevista | date:"d/m/Y H:i" }}

        {{ vaga.data_hora_cadastro | date:"d/m/Y H:i" }}

        <form action method=post>
            {% csrf_token %}
            <input type=submit value="Excluir cadastro">
        </form>
    </div>
</div>
{% endblock %}