{% extends '_base.html' %}

{% block title %}Remover vaga - {% endblock %}

{% block content %}
<div class=row>
    <div class=col>
        <h2 class=my-4>Tem certeza que deseja excluir este cadastro?</h2>

        <div class="card bg-light">
            <div class=card-body>
                <h3 class="card-title text-center">{{ vaga.empresa_nome }}</h3>
                <h4 class="card-subtitle text-muted text-center">{{ vaga.cargo_titulo }}</h4>

                {% if vaga.cargo_descricao %}
                <p class=card-text>{{ vaga.cargo_descricao | linebreaks }}</p>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush text-center">
                {% if vaga.empresa_endereco %}
                 <li class="list-group-item">{{ vaga.empresa_endereco }}</li>
                 {% endif %}

                 {% if vaga.empresa_email %}
                 <li class="list-group-item">{{ vaga.empresa_email | urlize }}</li>
                 {% endif %}

                 <li class="list-group-item">{{ vaga.empresa_site | urlize }}</li>

                 {% if vaga.empresa_telefone_celular or vaga.empresa_telefone_comercial %}
                 <li class="list-group-item">
                     {% if vaga.empresa_telefone_celular %}
                     {{ vaga.empresa_telefone_celular }} |
                     {% endif %}
                     {% if vaga.empresa_telefone_comercial %}
                     {{ vaga.empresa_telefone_comercial }}
                     {% endif %}
                </li>
                 {% endif %}

                 <li class="list-group-item">Referência: {{ vaga.site_referencia | urlize }}</li>
                 <li class="list-group-item">Situação: {{ vaga.get_situacao_display }}</li>
                 
                 {% if vaga.data_hora_entrevista %}
                <li class="list-group-item">Entrevista em {{ vaga.data_hora_entrevista | date:"d/m/Y H:i"}}</li>
                {% endif %}
            </ul>
            <div class="card-footer text-muted">
                <small class=d-block>Cadastrada em: {{ vaga.data_hora_cadastro | date:"d/m/Y H:i" }}</small>
                <small class=d-block>Última atualização em: {{ vaga.data_hora_atualizacao | date:"d/m/Y H:i" }}</small>
            </div>
        </div>
    </div>
</div>

<div class="row text-center my-5">
    <div class=col>
        <form action method=post>
            {% csrf_token %}
            <input class="btn btn-lg btn-danger" type=submit value="Excluir cadastro">
        </form>
    </div>
</div>
{% endblock %}