{% extends '_base.html' %}

{% block title %}Detalhes da vaga - {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Detalhes da vaga</h2>

        <p>Nome da empresa: {{ vaga.empresa_nome }}</p>

        {% if vaga.empresa_endereco %}
        <p>Endereço da empresa: {{ vaga.empresa_endereco }}</p>
        {% endif %}

        {% if vaga.empresa_email %}
        <p>Email da empresa: {{ vaga.empresa_email | urlize }}</p>
        {% endif %}

        <p>Site da empresa: {{ vaga.empresa_site | urlize }}</p>

        {% if vaga.empresa_telefone_celular %}
        <p>Telefone celular da empresa: {{ vaga.empresa_telefone_celular }}</p>
        {% endif %}

        {% if vaga.empresa_telefone_comercial %}
        <p>Telefone comercial da empresa: {{ vaga.empresa_telefone_comercial }}</p>
        {% endif %}


        <p>Título do cargo: {{ vaga.cargo_titulo }}</p>

        {% if vaga.cargo_descricao %}
        <p>Descrição do cargo: {{ vaga.cargo_descricao }}</p>
        {% endif %}

        <p>Site de referência: {{ vaga.site_referencia | urlize}}</p>

        {% if vaga.data_hora_entrevista %}
        <p>Data e horário da entrevista: {{ vaga.data_hora_entrevista | date:"d/m/Y H:i" }}</p>
        {% endif %}

        <p>Vaga cadastrada em: {{ vaga.data_hora_cadastro | date:"d/m/Y H:i" }}</p>

        <a class="btn btn-primary btn-lg" href="{% url 'oportunidades_edit' vaga.pk %}">Atualizar</a>

        <a class="btn btn-danger btn-lg" href="{% url 'oportunidades_delete' vaga.pk %}">Excluir</a>
    </div>
</div>
{% endblock %}